# Игнорировать все файлы с расширением .blend1 во всех директориях
**/*.blend1

# Игнорировать все папки с именем old во всех директориях
**/old/

# Игнорировать все папки с именем references во всех директориях
**/references/
